.wrapper
{
    background-image: url(../img/bg.png);
    height: 100%;
}

.header
{
    width: 100%;
    height: 80px;
}

.header-top
{
    width: 100%;
    height: 63px;
    background-color: #e53f33;
}

.header-bottom
{
    position: relative;
    width: 100%;
    height: 17px;
    background-image: url(../img/header-bottom.png);
    background-repeat: repeat-x;
    z-index: 10;
}

.header-content
{
    width: 980px;
    margin: auto auto;
    padding-top: 20px;
}

.header-logo
{
    float: left;
}

.header-navigation
{
    width: 454px;
    float: left;
    margin-left: 53px;
    margin-top: 2px;
    font-family: arial, verdana, sans-serif;
    font-size: 13px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.header-navigation ul
{
    margin: 0;
    padding: 0;
}

.header-navigation ul li
{
    display: inline;
    float: left;
    list-style: none;
    padding: 6px 11px;
    letter-spacing: 1px;
}

.header-navigation li a
{
    color: #fff;
    text-decoration: none;
}

.header-navigation .active
{
    background-color: #d83127;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0.1em 7px rgba(255,255,255,0.15);
}

.navi li
{
    background-color: #e53f33;
}

.header-social
{
    width: 294px;
    height: 30px;
    float: left;
    margin-top: 3px;
}

.header-social-icons
{
    background-color: #d83127;
    margin-left: 240px;
    padding: 5px 13px 3px 13px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0.1em 7px rgba(255,255,255,0.15);
}

.pre-content
{
    position: relative;
    width: 100%;
    height: 182px;
    background-color: #fff;
    margin-top: -17px;
    z-index: 1;
}

.pre-content-wrapper
{
    width: 980px;
    margin: auto;
}

.pre-content-text
{
    padding-top: 62px;
    width: 896px;
    float: left;
}

.wrapper h1
{
    font-family: 'Lucida Fax', sans-serif;
    font-size: 34px;
    color: #333;
}

.wrapper h2
{
    font-family: 'Lucida Fax', sans-serif;
    font-size: 24px;
    color: #fff;
}

.pre-content-text .text
{
    font-family: arial, sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #333;
}

.pre-content-text .red
{
    font-family: arial, sans-serif;
    font-size: 11.5px;
    color: #e53e32;
}

.pre-content-ribbon
{
    float: left;
}

.line
{
    width: 100%;
    height: 5px;
    background-image: url(../img/line.png);
}

.content
{
    width: 980px;
    margin: auto;
}

.projects
{
    width: 100%;
    height: 200px;
}

.projects-text
{
    padding-top: 6px;
    float: left;
    width: 300px;
    height: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
}

.projects-text p
{
    padding-top: 3px;
}

.projects-pic
{
    float: right;
    width: 640px;
    height: 100%;
    background-color: white;
}

.red-underlined
{
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #e53e32;
    text-decoration: underline;
}

.columns
{
    width: 100%;
    height: 507px;
}

.column
{
    float: left;
    width: 300px;
}

.space
{
    float: left;
    width: 40px;
    height: 100%;
}

.column-pic
{
    width: 300px;
    height: 175px;
    background-color: white;
}

.column-text
{
    padding-top: 6px;
    width: 300px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
}

.news
{
    height: 174px;
}

.news-pic
{
    float: left;
    width: 300px;
    height: 100%;
    background-color: white;
}

.news-text
{
    padding-top: 6px;
    float: right;
    width: 640px;
    height: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-align: justify;
}

.back
{
    width: 100%;
    height: 26px;
    color: #e63e33;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: right;

}

.back .text
{
    text-decoration: underline;
}

.footer
{
    width: 100%;
    background-color: #343434;
    height: 300px;
}

.footer-line
{
    width: 100%;
    border-top: 1px dashed #515151;
    height: 1px;
}

.footer-columns
{
    width: 980px;
    margin: auto;
    height: 292px;
}

.footer-column
{
    height: 100%;
    width: 300px;
    float: left;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: justify;
}

.footer-column p
{
    padding-top: 6px;
    padding-left: 6px;
}

.tweet
{
    font-style: italic;
}

.date
{
    font-style: normal;
    text-decoration: underline;
}

.copyright
{
    bottom: 30px;
    text-align: center;
    margin-bottom: 32px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
}